---
Checks:          'bugprone-*,performance-*,readability-*,portability-*,modernize-*,clang-analyzer-*'
WarningsAsErrors: true
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:             readability-function-cognitive-complexity.IgnoreMacros
    value:           true
  - key:             IgnoreMacros
    value:           '1'